:root {
	background-color: #333;
	color: #eee;
	font-family: Spartan;
	font-size: 1.2em;
}

@media only screen and (min-width: 900px) {
	main {
		width: 80%;
	}

	.container {
		display:  flex;
		flex-direction: row;
	}

	.item {
		position: relative;
		width: 30%;
		height: 70vh;
		margin: 1em;
		justify-content: start ;
	}

	input[type=submit] {
		position: absolute;
		bottom: 0px;
	}
}

@media only screen and (max-width: 900px) {
	:root {
		font-size: 1em;
	}

	main {
		width: 95%;
	}

	.container {
		display: block;
	}

	.item {
		position: static;
		height: 100%;
		margin: 1em;
	}
}

main {
	margin: auto;
}

label {
	display: block;
	margin: 0.3em;
}

h2 {
	margin: 1em 0em;
}

input, select {
	background-color: #444;
	color: #eee;
	font-family: Spartan;
	font-size: 1em;
	padding: 0.6em;
	margin: 2% 0;
	width: 100%;
	border: none;
	box-sizing: border-box;
}

input[type=submit] {
	border: solid 3px #444;
	transition: 0.5s;
}

input[type=submit]:hover {
	border-color: #eee;
}

form {
	/* width: 100%; */
	overflow: hidden;
}

.table-container {
	overflow: auto;
	/* box-shadow: #111 10px 10px 5px; */
	/* border: solid 1px #eee; */
}

table {
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
	min-width: 600px;
	margin: auto;
}

td {
	border-bottom: solid 1.5px #eee;
}

th {
	text-align: left;
	border-bottom: solid 3px #eee;
}

td, th {
	padding: 1em;
	/* margin: 1em; */
}
